.footer {
    text-align: left;
    padding: 1px 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #333;
  }