.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 13%;

  padding: 20px;
  margin: 30px;

  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .image {
    width: 130px;
    height: 130px;

    border-radius: 50%;

    overflow: hidden;
  }

  .profileDetails {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 10px;
    font-size: 18px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .editButton,
  .saveButton,
  .logoutButton {
    flex: 1;
    max-width: 120px;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .editButton,
  .saveButton {
    background-color: #7FD1AE;

    &:hover {
      background-color: #6db696;
    }
  }

  .logoutButton {
    background-color: #a7a7a7;

    &:hover {
      background-color: #6e6e6e;
    }
  }
}