/* 전체 페이지를 100vh 이상 차지하도록 설정 */
#root {
  width: 100vw;
  height: 100vh;
  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

#App {
  background: white;
  position: relative;
}
  
  /* 메인 컨텐츠 영역 (질문 작성 폼 포함) */
  .main-content {
    flex: 1; /* ✅ 컨텐츠 영역이 유동적으로 확장되도록 설정 */
  }
  